{% import "../common/pagination.html" as pagination %} 

{% set activeMenu = 1 %} 
{% extends './layout.html' %} 
{% block body
%} {{ super() }}
{% set STATUS = {all:"全部",admin:"管理员",ordinary:"普通",blocked:"禁用"}%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 main-container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary multi-select" id='j_multi_select'></button>
            </div>
            <div class="input-group-prepend">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="list"></span>
                    {{STATUS[status]}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/users/all">全部</a>
                    <a class="dropdown-item" href="/users/admin">管理员</a>
                    <a class="dropdown-item" href="/users/ordinary">普通</a>
                    <a class="dropdown-item" href="/users/blocked">禁用</a>
                </div>
            </div>
            <div class="info">
                <span data-feather='anchor'></span>&nbsp;&#58;&nbsp;设置为管理员
            </div>
            <div class="info">
                <span data-feather='user'></span>&nbsp;&#58;&nbsp;设置为普通用户
            </div>
            <div class="info">
                <span data-feather='user-x'></span>&nbsp;&#58;&nbsp;加入黑名单
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm table-users">
            {% if list.length>0 %}
            <thead>
                <tr>
                    <th class="change-status j-identity"></th>
                    <th>ID</th>
                    <th>名字</th>
                    <th>最后登陆时间</th>
                    <th>身份</th>
                    <th>操作</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
                {% for item in list %}
                <tr class="j-row" data-id={{item._id}}>
                    <td class="change-status j-identity">
                        <input type="checkbox" class="j-option" aria-label="Checkbox for following text input">
                    </td>
                    <td class="{{'opa' if item.userType === 2 else ''}}">{{item._id}}</td>
                    <td class="{{'opa' if item.userType === 2 else ''}}">{{item.name}}</td>
                    <td class="{{'opa' if item.userType === 2 else ''}}">{{item.lastLogin}}</td>
                    <td>
                        {% if item.userType === 1 %}
                        <span class="badge badge-pill badge-warning">
                            <span data-feather='anchor'></span>
                        </span>
                        {% elif item.userType === 2 %}
                        <span class="badge badge-pill badge-dark">
                            <span data-feather='user-x'></span>
                        </span>
                        {% endif %}
                    </td>
                    <td class="manipulate-cell j-users-btn">
                        {% if item.userType === 1 %}
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-tiny" data-type='0' title="普通用户">
                            <span data-feather='user'></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-tiny" data-type='2' title="禁止用户">
                            <span data-feather='user-x'></span>
                        </button>
                        {% elif item.userType === 2 %}
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-tiny" data-type='0' title="普通用户">
                            <span data-feather='user'></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-tiny" data-type='1' title="管理员">
                            <span data-feather='anchor'></span>
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-tiny" data-type='1' title="管理员">
                            <span data-feather='anchor'></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-tiny" data-type='2' title="禁止用户">
                            <span data-feather='user-x'></span>
                        </button>
                        {% endif %}
                        <div class="cover cover-table j-cover"></div>
                    </td>
                </tr>
                {% endfor %} 
                {% if list.length===0 %}
                <tr>
                    <td>暂无数据</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{ pagination.pagination(page,index,path,0) if list.length>0}}
</main>
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 approve-btn" id="j_approve_group">
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary j-mani-btn">
            <span data-feather='anchor' data-id='1'></span>
        </button>
        <button class="btn btn-sm btn-outline-secondary j-mani-btn">
            <span data-feather='user' data-id='0'></span>
        </button>
        <button class="btn btn-sm btn-outline-secondary j-mani-btn">
            <span data-feather='user-x' data-id='2'></span>
        </button>
    </div>
</div>
{% endblock %}